/* ================ strat service =============== */

.service{
    background-color: #1b1b1b;
      /* background-color: var(--black-color); */
      position: relative;
      /* border-radius: 40px; */
      /* border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      overflow: hidden; */
}
.service .service-content{
padding: 10% 3% 15%;
}
.service .service-content .header {
  margin-bottom: 7rem;
}
.service .service-content .header .what{
  display: flex;
  /* align-items: center; */
  gap: .5rem;
  margin-bottom: 3rem;
}
.service .service-content .header .what .icon-con{
   height: 20px;
   width: 20px;
   border-radius: 50%;
   /* background-color: var(--black-color); */
   background-color: var(--white-color);
   font-size: 1rem;
   color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .1rem;
}
.service .service-content .header .what .icon-con{
  color: var(--black-color);
}
.service .service-content .header .what p{
  /* color: var(--black-color); */
  color: var(--white-color);
  margin: 0;
  font-size: 1.1rem;
}
.service .service-content .header  h1{
   font-size: clamp(4.5rem, 15vw, 9rem);
  font-weight: 700;
  /* color: var(--black-color); */
  color: var(--white-color);
}
.service .service-content .header .text{
  /* color: var(--black-color); */
  color: var(--white-color);
  /* font-size: 1.1rem; */
}
 .image-content{
  height: 30rem;
  width: 0;
  position: relative;
  overflow: hidden;
  /* margin-bottom: 2rem; */
  transition: 1s ease-out;
}
 .image-content.active{
  width: 100%;
}
 .image-content .img-con{
  position: absolute;
  height: 50rem;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(0rem);

}
 .image-content .img-con img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .image-content i{
  position: absolute;
  font-size: 1rem;
   /* color: var(--white-color); */
   color: var(--white-color);
}
 .image-content .plusOne{
  top: 2rem;
  left: 2rem;
}
 .image-content .plusTwo{
  top: 2rem;
  right: 2rem;
}
 .image-content .plusThree{
  bottom: 2rem;
  left: 2rem;
}
 .image-content .plusFour{
  bottom: 2rem;
  right: 2rem;
}
.service .service-content .service-item .item {
  border-bottom: .5px solid rgb(75, 75, 75);
  padding: 1.5rem 0;
  height: 6.5rem;
  overflow: hidden;
  transition: .4s ease-out;
}
.service .service-content .service-item .item .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: .3rem;
}

.service .service-content .service-item .item p{
  /* color: var(--black-color); */
  color: var(--white-color);
  margin: 0;
  font-size: 1.2em;
}

.service .service-content .service-item .item  .data .title{
  font-size: clamp(1.2rem, 3vw, 2rem);
  color: var(--black-color);
  color: var(--white-color);
  font-weight: 400;
}

.service .service-content .service-item .item .icon-con{
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgb(75, 75, 75);
  font-size: 1rem;
  /* color: var(--black-color); */
  color: var(--white-color);
  transform: rotate(0deg);
  transition:transform .8s ease;
  cursor: pointer;
}

.service .service-content .service-item .item .icon-con.active{
  transform: rotate(-360deg);
}
.service .service-content .service-item .item .details{
  align-items: center;
  padding: 4rem 1rem 2rem;
}
.service .service-content .service-item .item .details .img-con{
  height: 15rem;
}
.service .service-content .service-item .item .details .img-con img{
  width: 100%;
  height: 100%;
  object-fit: cover;
    border-radius: 20px;
  /* border: 1px solid var(--black-color); */
  border: 1px solid var(--white-color);
}
.service .service-content .service-item .item .details .text {
  font-size: 1.2rem;
  color: var(--white-color);
  
  
}

@media (max-width:768px) {
  .service .service-content .header .what{
    justify-content: center;
  }
  .service .service-content .header {
  margin-bottom: 8rem;
}
.service .service-content .service-item .item .details .img-con{
  margin-bottom: 3rem;
}
  .service{
    margin-top: 5rem;
  }

}
@media (min-width:769px) and (max-width:992px) {
.service .service-content .service-item .item .details .img-con{
  margin-bottom: 3rem;
}
  .service{
    margin-top: 5rem;
  }
}
/* ================ end service =============== */
/* ================ start footer =============== */

footer{
  position: absolute;
  z-index: 1;
  background-color: var(--white-color);

}

footer .footer-content{
  padding: 3%;
}
footer .footer-content .text-con{
    display: flex;
    /* justify-content: center; */
    margin: 4rem 0;
}
footer .footer-content .text{
    font-weight: 700;
    font-size: clamp(1.5rem , 5vw , 3.2rem);
    color: rgba(10, 10, 10, 0.6);
    /* width: 70%; */
    /* text-align: center; */

}
footer .footer-content .text span{
  color: var(--black-color);
}
/* footer .footer-content .text .stroke {
   color: transparent;
   -webkit-text-stroke: 1px black;
} */
footer .footer-content .row .item .icon {
  margin-bottom: 5rem;
}
footer .footer-content .row .item .icon i{
  color: rgb(199, 199, 199);
  font-size: 1.3rem;
}
footer .footer-content .row .item .number{
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--black-color);
}
footer .footer-content .row .item .email{
  display: flex;
  align-items: center;
  gap: .3rem;
  position: relative;
  cursor: pointer;
}
footer .footer-content .row .item .email::before{
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  bottom: -.3rem;
  transition: .5s ease-out;
  left: 0;
  background-color: rgba(10, 10, 10, 0.6);
}
footer .footer-content .row .item .email:hover::before{
  width: 50%;
}
footer .footer-content .row .item .email .icon-con{
  width: 22px;
  height: 22px;
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* padding-left: .8px; */
  border-radius: 50%;
  transform: rotate(0deg);
  transition: .2s ease;
}
footer .footer-content .row .item .email:hover .icon-con{
  transform: rotate(90deg);
}
footer .footer-content .row .item .email h2{
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}
footer .footer-content .row .item .nav{
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
  margin-bottom: 1rem;
}
footer .footer-content .row .item .links p{
   font-size: 1.5rem;
   color: var(--black-color);
   margin: 0;
   font-weight: 500;
   margin-bottom: .3rem;
   transition: .3s ease-out;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}
footer .footer-content .row .item .links p::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -.8rem;
  width: 10px;
  height: 10px;
  background-color: gray;
  transition: .3s ease-out;
  border-radius: 50%;
}
footer .footer-content .row .item .links p:hover{
  padding-left: 1.3rem;
}
footer .footer-content .row .item .links p:hover::before{
  left: .2rem;
}
footer .footer-content .row .item .social{
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
  margin-bottom: 1rem;
}
footer .footer-content .row .item .social-con .item{
   display: flex;
   align-items: center;
   gap: .6rem;
   width: 2.3rem;
   transition: .5s ease;
   overflow: hidden;
   /* background-color: red; */
   margin-bottom: 1rem;
   padding-left: .8rem;
   cursor: pointer;
}
footer .footer-content .row .item .social-con .item:hover{
   width: 80%;
}
footer .footer-content .row .item .social-con .item .icon-con i{
  font-size: 1.6rem;
}
footer .footer-content .row .item .social-con .item .name{
     font-weight: 500;
     font-size: 1.5rem;
     color: var(--black-color);
}
footer .footer-content .title{
  text-align: center;
  position: relative;
  height: 15rem;
  margin-bottom: 4rem;
  /* z-index: -1; */

}
footer .footer-content .title h1{
  position: absolute;
  bottom: 0rem;
  right: 0;
  /* transform: translateY(-55rem); */
   font-size: clamp(4.5rem, 10vw, 9rem);
   font-weight: 600;
   /* -webkit-text-stroke: 2px rgb(44, 44, 44); */
   margin: 0;
   width: 100%;
   text-align: right;
   color: var(--black-color);
   /* color: var(--white-color); */
}
footer .last-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: 3rem;
}
footer .last-footer p{
  font-weight: 1rem;
  margin: 0;
  color: var(--white-color);
}
@media (max-width:768px) {
  footer .footer-content .row .margin{
    margin-bottom: 5rem;
    text-align: center;
  }
  footer .footer-content .row .item .icon {
  margin-bottom: 2rem;
}
footer .last-footer{
  flex-direction: column;
    padding: 2rem 1rem;
}
footer .last-footer p:nth-of-type(1){
  margin-bottom: 1rem;
}
footer .footer-content{
  margin-top: 9rem;
}
footer .footer-content .col-footer{
  display: flex;
  justify-content: center;
  text-align: center;
}
footer .footer-content .row .item .nav{
  justify-content: center;
}
footer .footer-content .row .item .social-con .item{
   width: 100%;
}
footer .footer-content .row .item .social-con .item:hover{
   width: 100%;
}
  footer .footer-content .row .item .email:hover::before{
  width: 100%;
}
footer .footer-content .text{
  width: 100%;
}

footer .footer-content .title h1{
text-align: center; 
}
footer .footer-content .title{
  height: 5rem;
}
footer .footer-content .text-con{
    margin: 0 0 4rem ;
}

}
@media (min-width:769px) and (max-width:992px){
  footer .footer-content .row .item .email:hover::before{
  width: 80%;
}
footer .footer-content .text{
  width: 100%;
}
footer .footer-content .title h1{
text-align: center;
}
}

/* ================ end footer =============== */

.btn-con{
  cursor: pointer;
}
.btn-con i{
   font-size: 1.5rem;
   text-align: center;
}
.btn-con.active i{
  color: rgb(0, 110, 255);
}

