
<!-- <div id="smooth-wrapper">
  <div id="smooth-content"> -->

<canvas id="trailCanvas" style="position:fixed;top:0;left:0;width:100%;height:100%;z-index:-1;"></canvas>
<div class="intro">
    <!-- <div class="intro-content">
            <div class="group">
            <span class="H">H</span>
            <span>i</span>
            <span >,</span>
            </div>
            <div class="group">
            <span>I</span>
            <span class="color">'</span>
            <span>m</span>
            <span class="space color">A</span>
            <span>h</span>
            <span>m</span>
            <span>e</span>
            <span>d</span>
            <span >,</span>
            </div>
            <div class="group">
                <span>W</span>
                <span>e</span>
                <span>b</span>
                <span class="space">d</span>
                <span>e</span>
                <span>v</span>
                <span>e</span>
                <span>l</span>
                <span>o</span>
                <span>p</span>
                <span>e</span>
                <span>r</span>
                <div class="group front">
                <span>F</span>
                <span>r</span>
                <span>o</span>
                <span>n</span>
                <span>t</span>
                <span>-</span>
                <span>E</span>
                <span>n</span>
                <span>d</span>
                </div>
            </div>
    </div> -->
   <!-- <div class="languges">
    <div class="icon-con">
        <i class="fa-brands fa-html5"></i>
    </div>
    <div class="icon-con">
        <i class="fa-brands fa-css3-alt"></i>
    </div>
    <div class="icon-con">
        <i class="fa-brands fa-js"></i>
    </div>
    <div class="icon-con">
        <i class="fa-brands fa-bootstrap"></i>
    </div>
    <div class="icon-con">
        <i class="fa-brands fa-angular"></i>
    </div>
   </div> -->
</div>



<div class="home">
    <div class="home-content">
        <div class="img-con">
            <!-- <img src="https://images.unsplash.com/photo-1749308887577-bde830c7dd4e?q=80&w=751&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> -->
            <video autoplay muted loop playsinline #bgVideo class="background-video">
                <source src="video/video.mp4" type="video/mp4">
              </video>
        </div>
        <div class="mydata-con">
            <div class="mydata-content">
        <div class="bar">
            <div class="social">
                <a href="https://www.facebook.com/elgizawy123"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://x.com/home"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="info-con row">
        <div class="col-2 col-md-3 col-lg-3"></div>
        <div class="col-10 col-md-9 col-lg-9 info">
            <h2>I'm Front — End</h2>
            <h1>DEVELOPER</h1>
            <P>I'm Ahmed Elgizawy - web-developer with a possion for creating beautiful and responsive website</P>
        </div>
    </div>
    <svg class="svgInfo" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 40V0C0 22.0914 17.9086 40 40 40H0Z" fill="rgb(243, 243, 243)"></path> 
    </svg>

            </div>
        </div>
        <div class="part-right">
            <div class="part-content">
            <p>CREATING WORK</p>
            <p>THAT INSPIRES</p>
            <svg class="svgBottom"  width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z" fill="rgb(243, 243, 243)"></path>
            </svg>
            <svg class="svgTop"  width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z" fill="rgb(243, 243, 243)"></path>
            </svg>
            </div>
        </div>
    </div>
</div>
<!-- <div class="wrapper"></div> -->


<div class="about">
    <div class="about-content">
        <!-- <img src="https://images.unsplash.com/photo-1640906152676-dace6710d24b?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> -->
        <h1 class="fade-in">About</h1>
        <div class="item firstItem">
            <p>Greetings! I'm Ahmed Elgizawy, and I navigate the exciting world of web design, where every pixel serves a purpose. Combining a deep understanding of user experience with a knack for transforming ideas into visually stunning interfaces, I approach each project with a burning passion to craft something truly remarkable.</p>
        </div>
        <div class="item secondItem">
            <p>My tech stack mirrors the vibrant diversity of the web itself. From the core languages of HTML5, CSS3, and JavaScript to an arsenal of design tools like Adobe Creative Suite and Sketch, I stay well-equipped. However, I believe in constantly pushing the boundaries, exploring emerging technologies and design trends to ensure my work remains both timeless and cutting-edge.</p>
        </div>
        <!-- <div class="item thirdItem">
            <p>Greetings! I'm Larry, and I navigate the exciting world of web design, where every pixel serves a purpose. Combining a deep understanding of user experience with a knack for transforming ideas into visually stunning interfaces, I approach each project with a burning passion to craft something truly remarkable.</p>
        </div> -->
    </div>
</div>



<!-- <div class="education">
    <div class="education-content">
        <div class="row">
        <h1 class="col-12 col-md-12 col-lg-8 text-center text-lg-end">Education</h1>
        <p class="summary col-12 col-md-12 col-lg-3 text-center text-lg-start">Passionate about front-end development, I have dedicated significant time to learning and mastering web technologies through self-study, online resources, and real-world practice.</p>
        </div>
        <div class="image-content">
            <div class="img-con imgedu">
                <img src="https://plus.unsplash.com/premium_photo-1750698147345-cff9c5c62da5?q=80&w=835&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <i class="fa-solid fa-plus plusOne"></i>
            <i class="fa-solid fa-plus plusTwo"></i>
            <i class="fa-solid fa-plus plusThree"></i>
            <i class="fa-solid fa-plus plusFour"></i>
        </div>
        <div class="row">
                <div class="con-number col-3">
                    <div class="number">
                        202
                        <div class="changed-number firstnum">
                            <span class="messure">3</span>
                            <span>4</span>
                            <span>5</span>
                        </div>
                    </div>
                </div>
            <div class="col-9 con-items">
                <div class="item one">
                     <p class="head">Name</p>   
                    <p class="info">Academic background in [Your Field], with hands-on experience in technical projects and a strong interest in building creative, real-world solutions.</p>
                </div>
                <div class="item two">
                     <p class="head">Name</p>   
                    <p class="info">Academic background in [Your Field], with hands-on experience in technical projects and a strong interest in building creative, real-world solutions.</p>
                </div>
                <div class="item three">
                     <p class="head">Name</p>   
                    <p class="info">Academic background in [Your Field], with hands-on experience in technical projects and a strong interest in building creative, real-world solutions.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="service">
    <div class="service-content">
        <div class="header row">
            <div class="col-12 col-md-3  col-lg-3 what text-center text-md-start text-lg-start fade-in">
                <div class="icon-con">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <p >What i do</p>
            </div>
            <div class="col-12 col-md-9 col-lg-6 text-center text-md-start text-lg-start">
                <h1 class="fade-in">Services.</h1>
                <p class="text fade-in">We offer professional front-end development services that transform creative designs into responsive, interactive, and user-friendly interfaces. Using the latest technologies such as HTML5, CSS3, JavaScript, and modern frameworks like  Angular.</p>
            </div>
        </div>
        <div class="image-content fade-in">
            <div class="img-con imgsrv">
                <img src="https://images.unsplash.com/photo-1503387762-592deb58ef4e?q=80&w=1031&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <i class="fa-solid fa-plus plusOne"></i>
            <i class="fa-solid fa-plus plusTwo"></i>
            <i class="fa-solid fa-plus plusThree"></i>
            <i class="fa-solid fa-plus plusFour"></i>
        </div>
        <div class="service-item">
            <div class="item fade-in">
                <div class="info">
                <p>/ 01</p>
                <div class="data">
                    <div class="title">Landing page design</div>
                </div>
                <div class="icon-con rotate">
                    <i class="fa-solid fa-plus"></i>
                </div>
                </div>
                <div class="details detailsSrv row">
                    <div class="img-con col-12 col-md-12 col-lg-3">
                        <img src="https://plus.unsplash.com/premium_photo-1682146042060-3617a8f344c0?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <p class="text col-12 col-md-12 col-lg-9">Landing page design plays a vital role in shaping the first impression of a website and guiding users toward a specific goal, such as signing up, making a purchase, or exploring content. An effective landing page should be visually appealing, easy to navigate, and focused on a clear call to action. Clean layouts, compelling visuals, and strategic use of colors help capture attention and build trust. Above all, a well-designed landing page is optimized for performance and conversion, turning visitors into engaged users or customers.</p>
                </div>
            </div>
            <div class="item fade-in">
                <div class="info">
                <p>/ 02</p>
                <div class="data">
                    <div class="title">Website development</div>
                </div>
                <div class="icon-con rotate">
                    <i class="fa-solid fa-plus"></i>
                </div>
                </div>
                <div class="details detailsSrv row">
                    <div class="img-con col-12 col-md-12 col-lg-3">
                        <img src="https://plus.unsplash.com/premium_photo-1663045566193-aedb5fe21ac4?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <p class="text col-12 col-md-12 col-lg-9">Website development is the process of building and maintaining websites, encompassing everything from creating simple static pages to complex web applications. It involves both front-end development, which focuses on the visual and interactive elements users see, and back-end development, which handles server-side logic, databases, and application performance. A successful website must be fast, secure, responsive across all devices, and scalable to support future growth. Combining clean code, modern frameworks, and user-centered design ensures a seamless and effective digital experience.</p>
                </div>
            </div>
            <div class="item fade-in">
                <div class="info">
                <p>/ 03</p>
                <div class="data">
                    <div class="title">Brand Identity Design</div>
                </div>
                <div class="icon-con rotate">
                    <i class="fa-solid fa-plus"></i>
                </div>
                </div>
                <div class="details detailsSrv row">
                    <div class="img-con col-12 col-md-12 col-lg-3">
                        <img src="https://plus.unsplash.com/premium_photo-1683133927528-8075b14131a0?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <p class="text col-12 col-md-12 col-lg-9">
Your website should be a seamless extension of your brand. We develop a cohesive brand identity that goes beyond the website, encompassing elements like logos, color palettes, fonts, and design styles. This creates a consistent and memorable brand image across all your digital platforms, strengthening brand recognition and trust with your audience.</p>
                </div>
            </div>
            <div class="item fade-in">
                <div class="info">
                <p>/ 04</p>
                <div class="data">
                    <div class="title">SEO Optimization</div>
                </div>
                <div class="icon-con rotate">
                    <i class="fa-solid fa-plus"></i>
                </div>
                </div>
                <div class="details detailsSrv row">
                    <div class="img-con col-12 col-md-12 col-lg-3">
                        <img src="https://plus.unsplash.com/premium_photo-1661678060948-b8d1d293889a?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    </div>
                    <p class="text col-12 col-md-12 col-lg-9">Get found by your target audience in search results. We incorporate basic SEO (Search Engine Optimization) best practices to improve your website's ranking in search engine results pages (SERPs) for relevant keywords. This helps potential customers discover your website organically, increasing website traffic and generating leads.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="project">
    <div class="project-content">
        <div class="row row-title">
            <div class="proj-title col-12 col-md-8 col-lg-8">
                <h1 class="fade-in">Projects <p>&copy;2025</p></h1>   
            </div>
            <div class="col-12 col-md-3 col-lg-3 col-text">
                <p class="fade-in">We’ve helped businesses across industries achieve their goals. Here are some of our recent projects.</p>
            </div>
        </div>
        <div class="row row-projects">
            <div class="project-item col-12 col-lg-6 col-md-6 fade-in">
                <div class="header">
                    <p class="name">Popcorn-Room <span>/2025</span></p>
                    <div class="dots">
                        <span class="red"></span>
                        <span class="orange"></span>
                        <span class="green"></span>
                    </div>
                </div>
                <div class="img-con">
                    <img src="https://plus.unsplash.com/premium_photo-1710522706708-a2abedac72c1?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <!-- <div class="start-btn">
                        <div class="content conbtn">
                            <div class="icon-con">
                                 <i class="fa-solid fa-arrow-right-long"></i>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="project-item col-12 col-lg-6 col-md-6 fade-in">
                <div class="header">
                    <p class="name">Ecommerce <span>/2025</span></p>
                    <div class="dots">
                        <span class="red"></span>
                        <span class="orange"></span>
                        <span class="green"></span>
                    </div>
                </div>
                <div class="img-con">
                    <img src="https://plus.unsplash.com/premium_photo-1681488262364-8aeb1b6aac56?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <!-- <div class="start-btn">
                        <div class="content conbtn">
                            <div class="icon-con">
                                 <i class="fa-solid fa-arrow-right-long"></i>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="project-item col-12 col-lg-6 col-md-6 fade-in">
                <div class="header">
                    <p class="name">Personal portfolio <span>/2025</span></p>
                    <div class="dots">
                        <span class="red"></span>
                        <span class="orange"></span>
                        <span class="green"></span>
                    </div>
                </div>
                <div class="img-con">
                    <img src="https://images.unsplash.com/photo-1582787264507-afc3e162c8f6?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <!-- <div class="start-btn">
                        <div class="content conbtn">
                            <div class="icon-con">
                                 <i class="fa-solid fa-arrow-right-long"></i>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="project-item col-12 col-lg-6 col-md-6 fade-in">
                <a href=" https://a-s-elgizawy.github.io/Events/">
                <div class="header">
                    <p class="name">Events <span>/2025</span></p>
                    <div class="dots">
                        <span class="red"></span>
                        <span class="orange"></span>
                        <span class="green"></span>
                    </div>
                </div>
                <div class="img-con">
                    <img src="https://plus.unsplash.com/premium_photo-1661964146949-a35b9ae06f89?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                </a>
            </div>
        </div>
    </div>
    <!-- ===== (marquee)  ======== -->
    <div class="skill fade-in">
    <div class="marquee">
      <div class="marquee_header">Skills</div>
      <div class="marquee__inner">
          <div class="img-box">
           <img class="Logo" src="html.PNG" alt="">
           <h3>Html</h3>
          </div>
          <div class="img-box">
           <img class="Logo pug" src="pug.png" alt="">
           <h3>Pug.js</h3>
          </div>
          <div class="img-box">
           <img class="Logo" src="css.PNG" alt="">
           <h3>Css</h3>
          </div>
          <div class="img-box">
           <img class="Logo sass" src="https://avatars.githubusercontent.com/u/317889?s=280&v=4" alt="">
           <h3>Sass</h3>
          </div>
          <div class="img-box">
           <img class="Logo" src="javascript.PNG" alt="">
           <h3>Javascript</h3>
          </div>
          <div class="img-box">
           <img class="Logo ts" src="typescript.PNG" alt="">
           <h3>Typescript</h3>
          </div>
          <div class="img-box">
           <img class="Logo boot" src="bootstrap.PNG" alt="">
           <h3>Bootstrap</h3>
          </div>
          <div class="img-box">
           <img class="Logo angular" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Angular_gradient_logo.png/1200px-Angular_gradient_logo.png" alt="">
           <h3>Angular</h3>
          </div>
          <div class="img-box">
           <img class="Logo react" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/react/react.png" alt="">
           <h3>React</h3>
          </div>
    
          <div class="img-box">
           <img class="Logo" src="html.PNG" alt="">
           <h3>Html</h3>
          </div>
          <div class="img-box">
           <img class="Logo pug" src="pug.png" alt="">
           <h3>Pug.js</h3>
          </div>
          <div class="img-box">
           <img class="Logo" src="css.PNG" alt="">
           <h3>Css</h3>
          </div>
          <div class="img-box">
           <img class="Logo sass" src="https://avatars.githubusercontent.com/u/317889?s=280&v=4" alt="">
           <h3>Sass</h3>
          </div>
          <div class="img-box">
           <img class="Logo" src="javascript.PNG" alt="">
           <h3>Javascript</h3>
          </div>
          <div class="img-box">
           <img class="Logo" src="typescript.PNG" alt="">
           <h3>Typescript</h3>
          </div>
          <div class="img-box">
           <img class="Logo boot" src="bootstrap.PNG" alt="">
           <h3>Bootstrap</h3>
          </div>
          <div class="img-box">
           <img class="Logo angular" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Angular_gradient_logo.png/1200px-Angular_gradient_logo.png" alt="">
           <h3>Angular</h3>
          </div>
          <div class="img-box">
           <img class="Logo react" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/react/react.png" alt="">
           <h3>React</h3>
          </div>
      </div>
    </div>
    </div>
    <!-- ===== (marquee)  ======== -->
</div>
<div class="contact ">
    <div class="contact-content">
        <div class="row row-contact">
            <div class="col-12 col-lg-4 col-md-5 fade-in">
                <div class="card-contact">
                <div class="your-info">
                    <h1>A.S.G&reg;</h1>
                    <h2>Have a project <br><span> in mind?</span></h2>
                </div>
                <form action="">
                    <div class="input">
                    <label for="">Your name</label>
                    <input type="text" placeholder="Your name">
                    </div>
                    <div class="input">
                    <label for="">E-mail</label>
                    <input type="email" placeholder="hello@site.com">
                    </div>
                    <div class="input">
                    <label for="">Message</label>
                    <input type="text" placeholder="Your message">
                    </div>
                    <button>
                        <div class="text">
                        <p>send message</p>
                        <p>send message</p>
                        </div>
                    </button>
                    <p class="policy">By submitting, you agree to our <span>Terms</span> and <span>Privacy Policy</span> .</p>
                </form>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="lets-talk">
                    <h1 class="text-center text-md-start text-lg-start fade-in">Let's talk.</h1>
                    <p class="tellUs  text-center text-md-start text-lg-start fade-in">Tell us about your project<span>—whether it’s a website, SEO, or marketing.</span></p>
                    <hr>
                    <div class="row">
                        <div class="col-6 col-md-12 col-lg-6">
                            <div class="item fade-in">
                                <div class="icon-text">
                                    <div class="icon">
                                        <i class="fa-solid fa-gauge-high"></i>
                                    </div>
                                    <p>Quick response.</p>
                                </div>
                                <p class="detail">If you’re ready to create and collaborate, we’d love to hear from you.</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-12 col-lg-6">
                            <div class="item fade-in">
                                <div class="icon-text">
                                    <div class="icon">
                                        <i class="fa-solid fa-stairs"></i>
                                    </div>
                                    <p>Clear next steps.</p>
                                </div>
                                <p class="detail">After the consultation, we’ll provide you with a detailed plan and timeline.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="footer-content">
        <div class="text-con row">
             <p class="text  text-center  fade-in"> Whether you’re looking to build a stunning website, boost your brand, or drive measurable results, <span>we’re here to help.</span> </p>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-footer">
                <div class="item margin">
                    <div class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="number fade-in">(010) 1288-5168</div>
                    <div class="email fade-in">
                        <div class="icon-con">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <h2 >hello&commat;A.S.G.com</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3 col-footer">
                <div class="item margin">
                    <div class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="nav fade-in">Navigation</div>
                    <div class="links">
                        <p class="fade-in" routerLink="/home">Home</p>
                        <p class="fade-in" routerLink="/about">About</p>
                        <p class="fade-in" routerLink="/service">service</p>
                        <p class="fade-in" routerLink="/project">project</p>
                        <p class="fade-in" routerLink="/contact">contact me</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3 col-footer">
                <div class="item margin">
                    <div class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="social fade-in">Social</div>
                    <div class="social-con">
                        <div class="item fade-in">
                            <div class="icon-con">
                               <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <div class="name">facebook</div>
                        </div>
                        <div class="item fade-in">
                            <div class="icon-con">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                            <div class="name">instegram</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title">
            <h1 class="ASG">Elgizawy&reg;</h1>
        </div>

    </div>
        <div class="last-footer">
            <p class="copy">&copy; 2025 A.S.G&reg; Studio. All rights reserved.</p>
            <p class="created">Created by : Ahmed Said Elgizawy</p>
        </div>
</footer>

<div class="space">hello</div>

<div class="cover-footer"></div>
<!-- </div>
</div> -->