/* ================ start project =============== */
.project{
  padding: 3%;
  background-color: var(--white-color);
  position: relative;
}
.project .project-content .row-title{
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  
}
.proj-title{
  display: flex;
  justify-content: end;
}
.project .project-content .row .proj-title h1{
  /* font-size: 9rem; */
   font-size: clamp(5.2rem, 15vw, 9rem);
  color: var(--black-color);
  text-align: end;
  font-weight: 600;
  position: relative;
  width: fit-content;
  right: 0;
}
.project .project-content .row .proj-title p{
  font-size: clamp(1rem, 15vw, 2.5rem);
  font-weight: 500;
  color: var(--black-color);
  position: absolute;
    left: 0%;
    bottom: -3rem;
}
.project .project-content .row-projects .project-item{
  margin-bottom: 1rem;
}
.project .project-content .row-projects .project-item a{
   text-decoration: none;
   color: var(--black-color);
}
.project .project-content .row-projects .project-item .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  
}
.project .project-content .row-projects .project-item .header .name{
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}
.project .project-content .row-projects .project-item .header .name span{
  padding-left: 1.5rem;
  font-size: .8rem;
  font-weight: 300;
}
.project .project-content .row-projects .project-item .header .dots{
  display: flex;
  align-items: center;
  gap: .1rem;
}
.project .project-content .row-projects .project-item .header .dots span{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #aaa;
  transition: .3s ease;
  display: block;
}
.project .project-content .row-projects .project-item:hover .header .dots .red{
  background-color: red;
}
.project .project-content .row-projects .project-item:hover .header .dots .orange{
  background-color: orange;
}
.project .project-content .row-projects .project-item:hover .header .dots .green{
  background-color: green;
}
.project .project-content .row-projects .img-con {
  width: 100%;
  height: 30rem;
  overflow: hidden;
   border-radius: 20px;
   cursor: pointer;
   position: relative;
}
.project .project-content .row-projects .img-con img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: scale(1);
  transition: transform  .3s ease;
}
.project .project-content .row-projects .project-item:hover .img-con img{
  transform: scale(1.1);
}
.project .project-content .row-projects .project-item .start-btn {
  padding: .5rem;
  background-color: var(--white-color);
  border-radius: 40px;
  border-top-right-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  transition: .5s ease;
}
.project .project-content .row-projects .project-item .start-btn .content{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.3rem;
  width: 57px;
  /* width: 190px; */
  border-radius: 40px;
  border: .8px solid var(--black-color);
  padding: .3rem .3rem .3rem .3rem;
  transition: 1s ease;
  position: relative;
}


.project .project-content .row-projects .project-item .start-btn .content .icon-con{
  width: 45px;
  height: 45px;
  background-color: var(--black-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--white-color);
  font-size: 1rem;
  will-change: transform;
  transform: rotate(-45deg);
  transition: transform .5s ease;
}
.project .project-content .row-projects .project-item:hover .start-btn .content .icon-con{
  transform: rotate(0deg)  translateZ(0);
}
@media (max-width:991px) {
   .proj-title{
  justify-content: center;
}
.project{
  margin-top: 5rem;
}
}
@media (max-width:767px) {
  .row-title{
    height: 50vh !important;
  }
     .col-text{
      display: flex;
      justify-content: center;
     }
     .col-text p{
      text-align: center;
      width: 85%;
     }
     .project .project-content .row .proj-title p{
  bottom: -4rem;
     }
}

/* ================ end project =============== */
 /* ===== (marquee)  ========  */
  .skill{
  background-color: var(--white-color);
  padding: 5rem 0 0rem;
 }
.marquee {
  overflow: hidden;
  width: 100%;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
.marquee_header {
  font-size: clamp(3rem, 15vw, 5rem);
  /* font-size: 2rem; */
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
}
.marquee__inner {
  display: flex;
  width: fit-content;
  animation: marquee 17s linear infinite;
}

.marquee__inner .img-box {
  flex-shrink: 0;
  width: 14rem;
  height: 5rem;
  padding: 5px;
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: 20px;
  filter: grayscale(100%);
}
.marquee__inner .img-box:hover{
  filter: grayscale(0%);
}
.marquee__inner .img-box  img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: grayscale(100%); */
}
.marquee__inner .img-box .Logo{
  height: 2.8rem;
  width: 2.4rem;
  object-fit: cover;
}
.marquee__inner .img-box .ts{
  height: 2.6rem;
  width: 2.4rem;
  object-fit: cover;
}
.marquee__inner .img-box .react{
  height: 3.1rem;
  width: 2.7rem;
  object-fit: cover;
}
.marquee__inner .img-box .angular{
  height: 3.1rem;
  width: 3.1rem;
  object-fit: cover;
}
.marquee__inner .img-box .pug{
  height: 2.6rem;
  width: 3.6rem;
}
.marquee__inner .img-box .sass{
  height: 3rem;
  width: 3rem;
}
.marquee__inner .img-box .boot{
  height: 2.6rem;
  width: 3.3rem;
}
.marquee__inner .img-box h3{
  margin: 0;
  font-size: 1.4rem;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
 /* ===== (marquee)  ========  */
/* ================ start footer =============== */

footer{
  position: absolute;
  z-index: 1;
  background-color: var(--white-color);

}

footer .footer-content{
  padding: 3%;
}
footer .footer-content .text-con{
    display: flex;
    /* justify-content: center; */
    margin: 4rem 0;
}
footer .footer-content .text{
    font-weight: 700;
    font-size: clamp(1.5rem , 5vw , 3.2rem);
    color: rgba(10, 10, 10, 0.6);
    /* width: 70%; */
    /* text-align: center; */

}
footer .footer-content .text span{
  color: var(--black-color);
}
/* footer .footer-content .text .stroke {
   color: transparent;
   -webkit-text-stroke: 1px black;
} */
footer .footer-content .row .item .icon {
  margin-bottom: 5rem;
}
footer .footer-content .row .item .icon i{
  color: rgb(199, 199, 199);
  font-size: 1.3rem;
}
footer .footer-content .row .item .number{
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--black-color);
}
footer .footer-content .row .item .email{
  display: flex;
  align-items: center;
  gap: .3rem;
  position: relative;
  cursor: pointer;
}
footer .footer-content .row .item .email::before{
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  bottom: -.3rem;
  transition: .5s ease-out;
  left: 0;
  background-color: rgba(10, 10, 10, 0.6);
}
footer .footer-content .row .item .email:hover::before{
  width: 50%;
}
footer .footer-content .row .item .email .icon-con{
  width: 22px;
  height: 22px;
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* padding-left: .8px; */
  border-radius: 50%;
  transform: rotate(0deg);
  transition: .2s ease;
}
footer .footer-content .row .item .email:hover .icon-con{
  transform: rotate(90deg);
}
footer .footer-content .row .item .email h2{
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}
footer .footer-content .row .item .nav{
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
  margin-bottom: 1rem;
}
footer .footer-content .row .item .links p{
   font-size: 1.5rem;
   color: var(--black-color);
   margin: 0;
   font-weight: 500;
   margin-bottom: .3rem;
   transition: .3s ease-out;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}
footer .footer-content .row .item .links p::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -.8rem;
  width: 10px;
  height: 10px;
  background-color: gray;
  transition: .3s ease-out;
  border-radius: 50%;
}
footer .footer-content .row .item .links p:hover{
  padding-left: 1.3rem;
}
footer .footer-content .row .item .links p:hover::before{
  left: .2rem;
}
footer .footer-content .row .item .social{
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
  margin-bottom: 1rem;
}
footer .footer-content .row .item .social-con .item{
   display: flex;
   align-items: center;
   gap: .6rem;
   width: 2.3rem;
   transition: .5s ease;
   overflow: hidden;
   /* background-color: red; */
   margin-bottom: 1rem;
   padding-left: .8rem;
   cursor: pointer;
}
footer .footer-content .row .item .social-con .item:hover{
   width: 80%;
}
footer .footer-content .row .item .social-con .item .icon-con i{
  font-size: 1.6rem;
}
footer .footer-content .row .item .social-con .item .name{
     font-weight: 500;
     font-size: 1.5rem;
     color: var(--black-color);
}
footer .footer-content .title{
  text-align: center;
  position: relative;
  height: 15rem;
  margin-bottom: 4rem;
  /* z-index: -1; */

}
footer .footer-content .title h1{
  position: absolute;
  bottom: 0rem;
  right: 0;
  /* transform: translateY(-55rem); */
   font-size: clamp(4.5rem, 10vw, 9rem);
   font-weight: 600;
   /* -webkit-text-stroke: 2px rgb(44, 44, 44); */
   margin: 0;
   width: 100%;
   text-align: right;
   color: var(--black-color);
   /* color: var(--white-color); */
}
footer .last-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: 3rem;
}
footer .last-footer p{
  font-weight: 1rem;
  margin: 0;
  color: var(--white-color);
}
@media (max-width:768px) {
  footer .footer-content .row .margin{
    margin-bottom: 5rem;
    text-align: center;
  }
  footer .footer-content .row .item .icon {
  margin-bottom: 2rem;
}
footer .last-footer{
  flex-direction: column;
    padding: 2rem 1rem;
}
footer .last-footer p:nth-of-type(1){
  margin-bottom: 1rem;
}
footer .footer-content{
  margin-top: 9rem;
}
footer .footer-content .col-footer{
  display: flex;
  justify-content: center;
  text-align: center;
}
footer .footer-content .row .item .nav{
  justify-content: center;
}
footer .footer-content .row .item .social-con .item{
   width: 100%;
}
footer .footer-content .row .item .social-con .item:hover{
   width: 100%;
}
  footer .footer-content .row .item .email:hover::before{
  width: 100%;
}
footer .footer-content .text{
  width: 100%;
}

footer .footer-content .title h1{
text-align: center; 
}
footer .footer-content .title{
  height: 5rem;
}
footer .footer-content .text-con{
    margin: 0 0 4rem ;
}

}
@media (min-width:769px) and (max-width:992px){
  footer .footer-content .row .item .email:hover::before{
  width: 80%;
}
footer .footer-content .text{
  width: 100%;
}
footer .footer-content .title h1{
text-align: center;
}
}

/* ================ end footer =============== */





