<div class="contact">
    <div class="contact-content">
        <div class="row row-contact">
            <div class="col-12 col-lg-4 col-md-5">
                <div class="card-contact">
                <div class="your-info">
                    <h1>A.S.G&reg;</h1>
                    <h2>Have a project <br><span> in mind?</span></h2>
                </div>
                <form   action="https://formspree.io/f/xvgqzzoo" method="POST">
                    <div class="input">
                    <label for="">Your name</label>
                    <input type="text"  name="name" placeholder="Your name">
                    </div>
                    <div class="input">
                    <label for="">E-mail</label>
                    <input type="email" name="email" placeholder="hello@site.com">
                    </div>
                    <div class="input">
                    <label for="">Message</label>
                    <input type="text" name="message" placeholder="Your message">
                    </div>
                    <button type="submit" >
                        <div class="text">
                        <p>send message</p>
                        <p>send message</p>
                        </div>
                    </button>
                    <p class="policy">By submitting, you agree to our <span>Terms</span> and <span>Privacy Policy</span> .</p>
                </form>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <div class="lets-talk">
                    <h1 class="text-center text-md-start text-lg-start">Let's talk.</h1>
                    <p class="tellUs  text-center text-md-start text-lg-start ">Tell us about your project<span>—whether it’s a website, SEO, or marketing.</span></p>
                    <hr>
                    <div class="row">
                        <div class="col-6 col-md-12 col-lg-6">
                            <div class="item">
                                <div class="icon-text">
                                    <div class="icon">
                                        <i class="fa-solid fa-gauge-high"></i>
                                    </div>
                                    <p>Quick response.</p>
                                </div>
                                <p class="detail">If you’re ready to create and collaborate, we’d love to hear from you.</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-12 col-lg-6">
                            <div class="item">
                                <div class="icon-text">
                                    <div class="icon">
                                        <i class="fa-solid fa-stairs"></i>
                                    </div>
                                    <p>Clear next steps.</p>
                                </div>
                                <p class="detail">After the consultation, we’ll provide you with a detailed plan and timeline.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<footer class="footer">
    <div class="footer-content">
        <div class="text-con row">
             <p class="text text-center "> Whether you’re looking to build a stunning website, boost your brand, or drive measurable results, <span>we’re here to help.</span> </p>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-footer">
                <div class="item margin">
                    <div class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="number">(010) 1288-5168</div>
                    <div class="email">
                        <div class="icon-con">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <h2>hello&commat;A.S.G.com</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3 col-footer">
                <div class="item margin">
                    <div class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="nav">Navigation</div>
                    <div class="links">
                        <p class="fade-in" routerLink="/home">Home</p>
                        <p class="fade-in" routerLink="/about">About</p>
                        <p class="fade-in" routerLink="/service">service</p>
                        <p class="fade-in" routerLink="/project">project</p>
                        <p class="fade-in" routerLink="/contact">contact me</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3 col-footer">
                <div class="item margin">
                    <div class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="social">Social</div>
                    <div class="social-con">
                        <div class="item">
                            <div class="icon-con">
                               <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <div class="name">facebook</div>
                        </div>
                        <div class="item">
                            <div class="icon-con">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                            <div class="name">instegram</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title">
            <h1 class="ASG">Elgizawy&reg;</h1>
        </div>

    </div>
        <div class="last-footer">
            <p class="copy">&copy; 2025 A.S.G&reg; Studio. All rights reserved.</p>
            <p class="created">Created by : Ahmed Said Elgizawy</p>
        </div>
</footer>
