/* ================ start contact =============== */
.contact{
  padding: 3%;
  /* background-color: var(--black-color); */
      background-color: #1b1b1b;
  /* position: absolute; */
  width: 100vw;
  z-index: 2;
}
.contact .contact-content .row-contact{
  justify-content: space-between;
  align-items: center;
}
.contact .contact-content .row-contact  .card-contact {
  background-color: var(--white-color);
  padding: 2rem 2rem 1.5rem;
  border-radius: 20px;
  margin: 5rem 0;
}
.contact .contact-content .row-contact  .card-contact .your-info h1{
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  /* text-align: right; */
}
.contact .contact-content .row-contact  .card-contact .your-info h2{
  font-size: clamp(1.8rem, 3vw, 2.2rem);
  font-weight: 600;
  color: var(--black-color);
}
.contact .contact-content .row-contact  .card-contact .your-info h2 span{
  color: gray;
}
.contact .contact-content .row-contact  .card-contact form{
  margin-top: 1.5rem;
}
.contact .contact-content .row-contact  .card-contact form .input{
  margin-bottom: .5rem;
}
.contact .contact-content .row-contact  .card-contact form .input label{
  font-size: .8rem;
  margin-bottom: .5rem;
  font-weight: 500;
}
.contact .contact-content .row-contact  .card-contact form .input input{
  padding: 1rem;
  background-color: #f7f7f7;
  font-size: 1rem;
  border-radius: 5px;
  display: block;
  width: 100%;
}
.contact .contact-content .row-contact  .card-contact form  button{
  width: 100%;
  border-radius: 40px;
  padding: 1rem;
  position: relative;
  background-color: var(--black-color);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  height: 3.5rem;
  overflow: hidden;
}
.contact .contact-content .row-contact  .card-contact form  button .text{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s ease;
}
.contact .contact-content .row-contact  .card-contact form  button:hover .text{
  top: -3.5rem;
}
.contact .contact-content .row-contact  .card-contact form  button .text p{
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .contact-content .row-contact  .card-contact form .policy{
  font-size: 12px;
  font-weight: 400;
  color: gray;
}
.contact .contact-content .row-contact  .card-contact form .policy span{
  color: var(--black-color);
}
.contact .contact-content .row-contact .lets-talk h1{
   font-size: clamp(2rem, 10vw, 9rem);
  color: var(--white-color);
  margin-bottom: 3rem;
  font-weight: 700;
}
.contact .contact-content .row-contact .lets-talk .tellUs{
  font-size: clamp(1.2rem,8vw,1.9rem);
  color: var(--white-color);
  font-weight: 500;
  /* width: 75%; */
  text-align: left ;
  line-height: 1.1;
}
.contact .contact-content .row-contact .lets-talk p span{
  color: #aaa;
}
.contact .contact-content .row-contact .lets-talk hr{
  margin: 4rem 0;
  color: #aaa;
}
.contact .contact-content .row-contact .lets-talk .row .item{
  margin-bottom: 1.5rem;
}
.contact .contact-content .row-contact .lets-talk .row .item .icon-text{
  display: flex;
  align-items: center;
  /* gap: 1rem; */
  margin-bottom: 1rem;

}
.contact .contact-content .row-contact .lets-talk .row .item .icon-text .icon{
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--white-color);
}
.contact .contact-content .row-contact .lets-talk .row .item .icon-text p{
  color: var(--white-color);
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
}
.contact .contact-content .row-contact .lets-talk .row .item .detail{
  color: #aaa;
  font-size: .9rem;
}

@media (max-width: 768px) {
   br{
    display: none;
   }
}
@media (max-width: 992px)  {
  .contact .contact-content .row-contact .lets-talk .tellUs{
    width: 100%;
  }
}
/* ================ end contact =============== */
/* ================ start footer =============== */

footer{
  position: absolute;
  z-index: 1;
  background-color: var(--white-color);

}

footer .footer-content{
  padding: 3%;
}
footer .footer-content .text-con{
    display: flex;
    /* justify-content: center; */
    margin: 4rem 0;
}
footer .footer-content .text{
    font-weight: 700;
    font-size: clamp(1.5rem , 5vw , 3.2rem);
    color: rgba(10, 10, 10, 0.6);
    /* width: 70%; */
    /* text-align: center; */

}
footer .footer-content .text span{
  color: var(--black-color);
}
/* footer .footer-content .text .stroke {
   color: transparent;
   -webkit-text-stroke: 1px black;
} */
footer .footer-content .row .item .icon {
  margin-bottom: 5rem;
}
footer .footer-content .row .item .icon i{
  color: rgb(199, 199, 199);
  font-size: 1.3rem;
}
footer .footer-content .row .item .number{
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--black-color);
}
footer .footer-content .row .item .email{
  display: flex;
  align-items: center;
  gap: .3rem;
  position: relative;
  cursor: pointer;
}
footer .footer-content .row .item .email::before{
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  bottom: -.3rem;
  transition: .5s ease-out;
  left: 0;
  background-color: rgba(10, 10, 10, 0.6);
}
footer .footer-content .row .item .email:hover::before{
  width: 50%;
}
footer .footer-content .row .item .email .icon-con{
  width: 22px;
  height: 22px;
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* padding-left: .8px; */
  border-radius: 50%;
  transform: rotate(0deg);
  transition: .2s ease;
}
footer .footer-content .row .item .email:hover .icon-con{
  transform: rotate(90deg);
}
footer .footer-content .row .item .email h2{
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}
footer .footer-content .row .item .nav{
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
  margin-bottom: 1rem;
}
footer .footer-content .row .item .links p{
   font-size: 1.5rem;
   color: var(--black-color);
   margin: 0;
   font-weight: 500;
   margin-bottom: .3rem;
   transition: .3s ease-out;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}
footer .footer-content .row .item .links p::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -.8rem;
  width: 10px;
  height: 10px;
  background-color: gray;
  transition: .3s ease-out;
  border-radius: 50%;
}
footer .footer-content .row .item .links p:hover{
  padding-left: 1.3rem;
}
footer .footer-content .row .item .links p:hover::before{
  left: .2rem;
}
footer .footer-content .row .item .social{
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
  margin-bottom: 1rem;
}
footer .footer-content .row .item .social-con .item{
   display: flex;
   align-items: center;
   gap: .6rem;
   width: 2.3rem;
   transition: .5s ease;
   overflow: hidden;
   /* background-color: red; */
   margin-bottom: 1rem;
   padding-left: .8rem;
   cursor: pointer;
}
footer .footer-content .row .item .social-con .item:hover{
   width: 80%;
}
footer .footer-content .row .item .social-con .item .icon-con i{
  font-size: 1.6rem;
}
footer .footer-content .row .item .social-con .item .name{
     font-weight: 500;
     font-size: 1.5rem;
     color: var(--black-color);
}
footer .footer-content .title{
  text-align: center;
  position: relative;
  height: 15rem;
  margin-bottom: 4rem;
  /* z-index: -1; */

}
footer .footer-content .title h1{
  position: absolute;
  bottom: 0rem;
  right: 0;
  /* transform: translateY(-55rem); */
   font-size: clamp(5rem, 10vw, 9rem);
   font-weight: 600;
   /* -webkit-text-stroke: 2px rgb(44, 44, 44); */
   margin: 0;
   width: 100%;
   text-align: right;
   color: var(--black-color);
   /* color: var(--white-color); */
}
footer .last-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: 3rem;
}
footer .last-footer p{
  font-weight: 1rem;
  margin: 0;
  color: var(--white-color);
}
@media (max-width:768px) {
  footer .footer-content .row .margin{
    margin-bottom: 5rem;
    text-align: center;
  }
  footer .footer-content .row .item .icon {
  margin-bottom: 2rem;
}
footer .last-footer{
  flex-direction: column;
}
footer .last-footer p:nth-of-type(1){
  margin-bottom: 1rem;
}
footer .footer-content{
  margin-top: 9rem;
}
footer .footer-content .col-footer{
  display: flex;
  justify-content: center;
  text-align: center;
}
footer .footer-content .row .item .nav{
  justify-content: center;
}
footer .footer-content .row .item .social-con .item{
   width: 100%;
}
footer .footer-content .row .item .social-con .item:hover{
   width: 100%;
}
  footer .footer-content .row .item .email:hover::before{
  width: 100%;
}
footer .footer-content .text{
  width: 100%;
}

footer .footer-content .title h1{
text-align: center; 
}
footer .footer-content .title{
  height: 5rem;
}
footer .footer-content .text-con{
    margin: 0 0 4rem ;
}

}
@media (min-width:769px) and (max-width:992px){
  footer .footer-content .row .item .email:hover::before{
  width: 80%;
}
footer .footer-content .text{
  width: 100%;
}
footer .footer-content .title h1{
text-align: center;
}
}

/* ================ end footer =============== */
/* ================ end skills =============== */




