


<!-- <header class="header">
    <div class="header-content">
    <div class="logo" routerLink="/home">
     <p>A.S.G</p>
    </div>
    <nav class="nav">
        <div class="navigate-container">
            <div  class="navigate Home" routerLink="home" routerLinkActive="active" (click)="list()">
                <div class="navigate-content " style="--i:0;" >
                     <span>H</span>
                     <span>H</span>
                </div>
                <div class="navigate-content " style="--i:1;">
                     <span>o</span>
                     <span>o</span>
                </div>
                <div class="navigate-content " style="--i:2;">
                     <span>m</span>
                     <span>m</span>
                </div>
                <div class="navigate-content " style="--i:3;">
                     <span>e</span>
                     <span>e</span>
                </div>
            </div>
            <div class="navigate  About" routerLink="about" routerLinkActive="active" (click)="list()">
                <div class="navigate-content" style="--i:0;">
                     <span>A</span>
                     <span>A</span>
                </div>
                <div class="navigate-content" style="--i:1;">
                     <span>b</span>
                     <span>b</span>
                </div>
                <div class="navigate-content" style="--i:2;">
                     <span>o</span>
                     <span>o</span>
                </div>
                <div class="navigate-content" style="--i:3;">
                     <span>u</span>
                     <span>u</span>
                </div>
                <div class="navigate-content" style="--i:4;">
                     <span>t</span>
                     <span>t</span>
                </div>
            </div>
            <div class="navigate service" routerLink="service" routerLinkActive="active" (click)="list()">
                <div class="navigate-content" style="--i:0;">
                     <span>S</span>
                     <span>S</span>
                </div>
                <div class="navigate-content" style="--i:1;">
                     <span>e</span>
                     <span>e</span>
                </div>
                <div class="navigate-content" style="--i:2;">
                     <span>r</span>
                     <span>r</span>
                </div>
                <div class="navigate-content" style="--i:3;">
                     <span>v</span>
                     <span>v</span>
                </div>
                <div class="navigate-content" style="--i:4;">
                     <span>i</span>
                     <span>i</span>
                </div>
                <div class="navigate-content" style="--i:5;">
                     <span>c</span>
                     <span>c</span>
                </div>
                <div class="navigate-content" style="--i:6;">
                     <span>e</span>
                     <span>e</span>
                </div>
                <div class="navigate-content" style="--i:7;">
                     <span>s</span>
                     <span>s</span>
                </div>
            </div>
            <div class="navigate projects pro" routerLink="project" routerLinkActive="active" (click)="list()">
                <div class="navigate-content" style="--i:0;">
                     <span>P</span>
                     <span>P</span>
                </div>
                <div class="navigate-content" style="--i:1;">
                     <span>r</span>
                     <span>r</span>
                </div>
                <div class="navigate-content" style="--i:2;">
                     <span>o</span>
                     <span>o</span>
                </div>
                <div class="navigate-content" style="--i:3;">
                     <span>j</span>
                     <span>j</span>
                </div>
                <div class="navigate-content" style="--i:4;">
                     <span>e</span>
                     <span>e</span>
                </div>
                <div class="navigate-content" style="--i:5;">
                     <span>c</span>
                     <span>c</span>
                </div>
                <div class="navigate-content" style="--i:6;">
                     <span>t</span>
                     <span>t</span>
                </div>
                <div class="navigate-content" style="--i:7;">
                     <span>s</span>
                     <span>s</span>
                </div>
            </div>
        </div>
        <div class="btns-con">
             <div class="contact-con" routerLink="contact">
                <p>Contact Us</p>
                <div class="icon-con">
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
             </div>  
        </div>
    </nav>
    <div class="theme-menu">
    <div class="menu">
     <span class="top"></span>
     <span class="bottom"></span>
    </div>
    </div>
</div>
</header> -->


<header class="header" #header [class.sticky]="HeaderSticky" >
  <div class="header-content" 
       [class.active]="headerActive" 
       [class.background-white]="headerWhite">

     <div class="logo" routerLink="/home">
     <p>A.S.G</p>
    </div>
    <nav class="nav" [class.active]="navActive">
        <div class="navigate-container">
            <div  class="navigate Home" routerLink="home" routerLinkActive="active" (click)="list()">
                <div class="navigate-content " style="--i:0;" >
                     <span>H</span>
                     <span>H</span>
                </div>
                <div class="navigate-content " style="--i:1;">
                     <span>o</span>
                     <span>o</span>
                </div>
                <div class="navigate-content " style="--i:2;">
                     <span>m</span>
                     <span>m</span>
                </div>
                <div class="navigate-content " style="--i:3;">
                     <span>e</span>
                     <span>e</span>
                </div>
            </div>
            <div class="navigate  About" routerLink="about" routerLinkActive="active" (click)="list()">
                <div class="navigate-content" style="--i:0;">
                     <span>A</span>
                     <span>A</span>
                </div>
                <div class="navigate-content" style="--i:1;">
                     <span>b</span>
                     <span>b</span>
                </div>
                <div class="navigate-content" style="--i:2;">
                     <span>o</span>
                     <span>o</span>
                </div>
                <div class="navigate-content" style="--i:3;">
                     <span>u</span>
                     <span>u</span>
                </div>
                <div class="navigate-content" style="--i:4;">
                     <span>t</span>
                     <span>t</span>
                </div>
            </div>
            <div class="navigate service" routerLink="service" routerLinkActive="active" (click)="list()">
                <div class="navigate-content" style="--i:0;">
                     <span>S</span>
                     <span>S</span>
                </div>
                <div class="navigate-content" style="--i:1;">
                     <span>e</span>
                     <span>e</span>
                </div>
                <div class="navigate-content" style="--i:2;">
                     <span>r</span>
                     <span>r</span>
                </div>
                <div class="navigate-content" style="--i:3;">
                     <span>v</span>
                     <span>v</span>
                </div>
                <div class="navigate-content" style="--i:4;">
                     <span>i</span>
                     <span>i</span>
                </div>
                <div class="navigate-content" style="--i:5;">
                     <span>c</span>
                     <span>c</span>
                </div>
                <div class="navigate-content" style="--i:6;">
                     <span>e</span>
                     <span>e</span>
                </div>
                <div class="navigate-content" style="--i:7;">
                     <span>s</span>
                     <span>s</span>
                </div>
            </div>
            <div class="navigate projects pro" routerLink="project" routerLinkActive="active" (click)="list()">
                <div class="navigate-content" style="--i:0;">
                     <span>P</span>
                     <span>P</span>
                </div>
                <div class="navigate-content" style="--i:1;">
                     <span>r</span>
                     <span>r</span>
                </div>
                <div class="navigate-content" style="--i:2;">
                     <span>o</span>
                     <span>o</span>
                </div>
                <div class="navigate-content" style="--i:3;">
                     <span>j</span>
                     <span>j</span>
                </div>
                <div class="navigate-content" style="--i:4;">
                     <span>e</span>
                     <span>e</span>
                </div>
                <div class="navigate-content" style="--i:5;">
                     <span>c</span>
                     <span>c</span>
                </div>
                <div class="navigate-content" style="--i:6;">
                     <span>t</span>
                     <span>t</span>
                </div>
                <div class="navigate-content" style="--i:7;">
                     <span>s</span>
                     <span>s</span>
                </div>
            </div>
            <!-- <span  class="activenav Home" ></span> -->
        </div>
        <div class="btns-con">
             <div class="contact-con" routerLink="contact">
                <p>Contact Us</p>
                <div class="icon-con">
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
             </div>  
        </div>
    </nav>

    <div class="theme-menu">
      <div class="menu" 
           [class.active]="menuActive" 
           (click)="toggleMenu()">
        <span class="top"></span>
        <span class="bottom"></span>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>











