/* ================ start about =============== */

.about{
  background-color: var(--white-color);
}
.about .about-content{
  padding: 3%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .about-content h1{
     font-size: clamp(6rem, 15vw, 9rem);
     font-weight: 600;
     color: var(--black-colorr);
     z-index: 2;
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     opacity: 1;
     margin: 5rem 0 5rem;
}
.about .about-content .item{
  border: 5px solid rgba(114, 114, 114, 0.164);
  outline: 20px solid rgba(114, 114, 114, 0.164);
  border-radius: 30px;
  padding: 1.5rem;
  width: 70vw;
  opacity: 1;
  background-color: var(--black-color);
  margin-bottom: 5rem;
}
/* .about .about-content .item.firstItem{
  left: 50%;
  top: 50%;
  transform: translate(-50%,200%) rotate(5deg);
} */
/* .about .about-content .item.secondItem{
  left: 50%;
  top: 50%;
  transform: translate(-50%,200%) rotate(-5deg);
} */
/* .about .about-content .item.thirdItem{
  left: 50%;
  top: 50%;
  transform: translate(-50%,200%);
} */
.about .about-content .item p{
  font-size: clamp(1rem,2vw,1.6rem);
  color: var(--white-color);
  font-weight: 500;
}
.fade-in {
  opacity: 0;
  transform: translateY(4rem);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width:992px) {
    .about .about-content .item{
      width: 80%;
    }
}
@media (max-width:767px) {
.about .about-content .item{
  padding: .9rem;
  text-align: justify;
}
}
/* ================ end about =============== */
/* ================ start footer =============== */

footer{
  position: absolute;
  z-index: 1;
  background-color: var(--white-color);

}

footer .footer-content{
  padding: 3%;
}
footer .footer-content .text-con{
    display: flex;
    margin: 4rem 0;
}
footer .footer-content .text{
    font-weight: 700;
    font-size: clamp(1.5rem , 5vw , 3.2rem);
    color: rgba(10, 10, 10, 0.6);

}
footer .footer-content .text span{
  color: var(--black-color);
}

footer .footer-content .row .item .icon {
  margin-bottom: 5rem;
}
footer .footer-content .row .item .icon i{
  color: rgb(199, 199, 199);
  font-size: 1.3rem;
}
footer .footer-content .row .item .number{
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--black-color);
}
footer .footer-content .row .item .email{
  display: flex;
  align-items: center;
  gap: .3rem;
  position: relative;
  cursor: pointer;
}
footer .footer-content .row .item .email::before{
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  bottom: -.3rem;
  transition: .5s ease-out;
  left: 0;
  background-color: rgba(10, 10, 10, 0.6);
}
footer .footer-content .row .item .email:hover::before{
  width: 50%;
}
footer .footer-content .row .item .email .icon-con{
  width: 22px;
  height: 22px;
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* padding-left: .8px; */
  border-radius: 50%;
  transform: rotate(0deg);
  transition: .2s ease;
}
footer .footer-content .row .item .email:hover .icon-con{
  transform: rotate(90deg);
}
footer .footer-content .row .item .email h2{
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}
footer .footer-content .row .item .nav{
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
  margin-bottom: 1rem;
}
footer .footer-content .row .item .links p{
   font-size: 1.5rem;
   color: var(--black-color);
   margin: 0;
   font-weight: 500;
   margin-bottom: .3rem;
   transition: .3s ease-out;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}
footer .footer-content .row .item .links p::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -.8rem;
  width: 10px;
  height: 10px;
  background-color: gray;
  transition: .3s ease-out;
  border-radius: 50%;
}
footer .footer-content .row .item .links p:hover{
  padding-left: 1.3rem;
}
footer .footer-content .row .item .links p:hover::before{
  left: .2rem;
}
footer .footer-content .row .item .social{
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
  margin-bottom: 1rem;
}
footer .footer-content .row .item .social-con .item{
   display: flex;
   align-items: center;
   gap: .6rem;
   width: 2.3rem;
   transition: .5s ease;
   overflow: hidden;
   /* background-color: red; */
   margin-bottom: 1rem;
   padding-left: .8rem;
   cursor: pointer;
}
footer .footer-content .row .item .social-con .item:hover{
   width: 80%;
}
footer .footer-content .row .item .social-con .item .icon-con i{
  font-size: 1.6rem;
}
footer .footer-content .row .item .social-con .item .name{
     font-weight: 500;
     font-size: 1.5rem;
     color: var(--black-color);
}
footer .footer-content .title{
  text-align: center;
  position: relative;
  height: 15rem;
  margin-bottom: 4rem;
  /* z-index: -1; */

}
footer .footer-content .title h1{
  position: absolute;
  bottom: 0rem;
  right: 0;
  /* transform: translateY(-55rem); */
   font-size: clamp(4.5rem, 10vw, 9rem);
   font-weight: 600;
   /* -webkit-text-stroke: 2px rgb(44, 44, 44); */
   margin: 0;
   width: 100%;
   text-align: right;
   color: var(--black-color);
   /* color: var(--white-color); */
}
footer .last-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: 3rem;
}
footer .last-footer p{
  font-weight: 1rem;
  margin: 0;
  color: var(--white-color);
}
@media (max-width:768px) {
  footer .footer-content .row .margin{
    margin-bottom: 5rem;
    text-align: center;
  }
  footer .footer-content .row .item .icon {
  margin-bottom: 2rem;
}
footer .last-footer{
  flex-direction: column;
  padding: 2rem 1rem;
}
footer .last-footer p:nth-of-type(1){
  margin-bottom: 1rem;
}
footer .footer-content{
  margin-top: 9rem;
}
footer .footer-content .col-footer{
  display: flex;
  justify-content: center;
  text-align: center;
}
footer .footer-content .row .item .nav{
  justify-content: center;
}
footer .footer-content .row .item .social-con .item{
   width: 100%;
}
footer .footer-content .row .item .social-con .item:hover{
   width: 100%;
}
  footer .footer-content .row .item .email:hover::before{
  width: 100%;
}
footer .footer-content .text{
  width: 100%;
}

footer .footer-content .title h1{
text-align: center; 
}
footer .footer-content .title{
  height: 5rem;
}
footer .footer-content .text-con{
    margin: 0 0 4rem ;
}

}
@media (min-width:769px) and (max-width:992px){
  footer .footer-content .row .item .email:hover::before{
  width: 80%;
}
footer .footer-content .text{
  width: 100%;
}
footer .footer-content .title h1{
text-align: center;
}
}

/* ================ end footer =============== */





